[Unit]
Description=Start the Pi Timelapse script.
After=network.target

[Service]
ExecStart=sudo /usr/bin/python /home/pi/TimeLapse/TimeLapse.py
RemainAfterExit=true
Restart=always
WorkingDirectory=/home/pi/TimeLapse
ExecStop=/usr/bin/pkill -f TimeLapse.py
StandardOutput=journal
StandardError=journal
User=pi
Group=pi

[Install]
WantedBy=multi-user.target